{
  "root": true,
  "extends": [
    "airbnb-base",
    "airbnb-typescript/base",
    "prettier",
    "plugin:prettier/recommended"
  ],
  "plugins": ["prettier"],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "project": "./tsconfig.json"
  }
}